<table>
  <tr>
    subject id: <td><%= f.text_field(:subject_id) %></td>
    name: <td><%= f.text_field(:name) %></td>
    permalink: <td><%= f.text_field(:permalink) %></td>
    position: <td><%= f.text_field(:position) %></td>
    visible: <td><%= f.text_field(:visible) %></td>
  </tr>
</table>