<div class="subjects index">
  <%= link_to '< Back', subjects_path, :class => 'back-link' %>
  <h2>Update Subject</h2>
  <%= form_for(@subject) do |f| %>
  <table>
    <tr>
      <td><%= f.text_field(:name) %></td>
      <td><%= f.text_field(:position) %></td>
      <td><%= f.text_field(:visible) %></td>
    </tr>
  </table>
  <div>
    <%= f.submit("Update Subject") %>
  </div>
  <% end %>
</div>