<div class="sections index">
  <%= link_to '< Back', sections_path, :class => 'back-link' %>
  <h2>New Section</h2>
  <%= form_for(@section) do |s| %>
  <table>
    <tr>
      section id: <td><%= s.text_field(:page_id) %></td>
      name: <td><%= s.text_field(:name) %></td>
      position: <td><%= s.text_field(:position) %></td>
      visible: <td><%= s.text_field(:visible) %></td>
      content_type: <td><%= s.text_field(:content_type) %></td>
      content: <td><%= s.text_field(:content) %></td>
    </tr>
  </table>
  <div>
    <%= s.submit("Create Section") %>
  </div>
  <% end %>
</div>