<table>
  <tr>
    section id: <td><%= f.text_field(:page_id) %></td>
    name: <td><%= f.text_field(:name) %></td>
    position: <td><%= f.text_field(:position) %></td>
    visible: <td><%= f.text_field(:visible) %></td>
    content_type: <td><%= f.text_field(:content_type) %></td>
    content: <td><%= f.text_field(:content) %></td>
  </tr>
</table>